html{
    background-color: rgb(246,246,246);
}

*{
    margin:0;
    padding: 0;
}
#container{
    width: 100%;
    background-color: rgb(246,246,246);
    height:auto;
    margin: 0 auto;

}
#nav{
    position:fixed;
    top:0;
    width:100%;
    height: 123px;
    background: white;
    z-index: 4;
}

#index_logo{
    position: relative;
    width: 13%;
    margin-left: 9em;
    margin-top: 1.3em;

}
#index_search_btn{
    display: inline;
}
#search_bar{
    position: relative;
    width: 60%;
    height: 38px;
    margin-left: 3em;
}
#icon_home {
    width: 40px;
    margin-left: 2em;
}

#icon_homepage {
    width:40px;
    margin-left: 73em;
}


#container2{
    width: 95%;
    height:auto;
    margin: 0 auto;
    z-index: 2;
}

#main{
    width:100%;
    height:1000px;
    margin-top:35px;
    background:RGB(246,246,246);
    padding-top: 62px;
    z-index: 3;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin-top: 2em;
    background: rgb(249,248,244);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
    height: 1200px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 10px;
    /*grid-auto-rows: minmax(100px, auto);*/
}
.one {
    grid-column: 1;
    grid-row: 1;
}
#newarticile_title{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: black;
    background-color: white;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    border: 1px #dcdcdc solid;
}

#theDate{
    width: 31%;
    height: 50px;
}
#btn_newarticle{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 15.5%;
    height: 50px;
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    border-radius: 6px;
    transition-duration: 0.4s;
}
#btn_newarticle:hover{

    background-color:  rgb(33, 140, 236);
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(177, 196, 221,24),0 14px 47px 0 rgba(33, 140, 236,19);

}
#add_new_cancel{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 15.5%;
    height: 50px;
    border-radius: 6px;
    color: #dc143c;
    background-color: white;
    border: 2px solid #dc143c;
    transition-duration: 0.4s;
}
#add_new_cancel:hover{

    background-color: #dc143c;
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(174, 36, 40,24),0 14px 47px 0 rgba(218, 26, 64,19);
}


#zone_editor{
    height: 37%;
}

#theDate{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: black;
    background-color: white;
    height: 38px;
    width:21%;
    border-radius: 6px;
    border: 1px #dcdcdc solid;
}
#youtubeLink{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: black;
    background-color: white;
    height: 38px;
    width:22.5%;
    border-radius: 6px;
    border: 1px #dcdcdc solid;
}

#picture,#audioUpload,#videoUpload{
    width: 19%;
    height: 36px;
    background-color:  rgb(33, 140, 236);
    color: #f8f8f8;
    border-radius: 6px;
}