@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
/* Basic */
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

header, section {
    display: block;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #a2a2a2;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
}

/*p {*/
    /*margin: 0 0 2em 0;*/
/*}*/

h2, h3 {
    color: #787878;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 1em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.5em;
}

/* Header */
#header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-attachment: scroll;
    background-color: #0A0A0A;
    background-image: url("/images/header_backgroud_2.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    padding: 8em 4em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 35%;
}

#image_avatar {
    width: 40%;
    border-radius: 100%;
    margin-top: 22px;
    margin-left: 30px;
}

.btn_add_new_article {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 166px;
    height: 50px;
    border-radius: 6px;
    color: #aaaaaa;
    background-color: rgba(240, 255, 255, 0);
    border: 2px solid #aaaaaa;
    transition-duration: 0.4s;
}

.btn_add_new_article span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition-duration: 0.4s;
}

.btn_add_new_article span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition-duration: 0.4s;
}

.btn_add_new_article:hover {
    color: #5599ff;
    border: 2px solid #5599ff;

}

.btn_add_new_article:hover span {
    padding-right: 25px;
}

.btn_add_new_article:hover span:after {
    opacity: 1;
    right: 0;
}

/* Main */
#main {
    margin-left: 35%;
    max-width: 54em;
    padding: 8em 4em 4em 4em;
    width: calc(100% - 35%);
}

#main > section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
}

#main > section:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

#icon_home {
    width: 7%;
    margin-left: 20em;
}

#icon_setting {
    width: 8%;
    margin-left: 1em;
}

#icon_logout {
    width: 6%;
    margin-left: 1em;

}

#icon_gallery {
    width: 7%;
    margin-left: 1em;
}

/*manage my article*/

.btn_my_article_edit {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 218.62px;
    height: 50px;
    border-radius: 6px;
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    margin-top: 1em;
    transition-duration: 0.4s;
}

.btn_my_article_edit:hover {
    background-color: rgb(33, 140, 236);
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(177, 196, 221, 24), 0 14px 47px 0 rgba(33, 140, 236, 19);
}

.btn_article_delete{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 218.62px;
    height: 50px;
    border-radius: 6px;
    color: #dc143c;
    background-color: white;
    border: 2px solid  #dc143c;
    margin-top: 1em;
    transition-duration: 0.4s;
}

.btn_article_delete:hover {
    background-color:  #dc143c;
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(174, 36, 40, 24), 0 14px 47px 0  #dc143c;
}

.btn_my_article_delete {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 218.62px;
    height: 50px;
    border-radius: 6px;
    color: #dc143c;
    background-color: white;
    border: 2px solid #dc143c;
    margin-top: 1em;
    transition-duration: 0.4s;
}

.btn_my_article_delete:hover {
    background-color: #dc143c;
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(174, 36, 40, 24), 0 14px 47px 0 rgba(218, 26, 64, 19);
}

/*delete article*/
#btn_my_article_delete {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 218.62px;
    height: 50px;
    border-radius: 6px;
    color: #dc143c;
    background-color: white;
    border: 2px solid #dc143c;
    margin-top: 1em;
    transition-duration: 0.4s;
}

#btn_my_article_delete:hover {
    background-color: #dc143c;
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(174, 36, 40, 24), 0 14px 47px 0 rgba(218, 26, 64, 19);
}

#delete_cancel {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 218.62px;
    height: 50px;
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    border-radius: 6px;
    margin-top: 1em;
    transition-duration: 0.4s;
}

#delete_cancel:hover {
    background-color: rgb(33, 140, 236);
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(177, 196, 221, 24), 0 14px 47px 0 rgba(33, 140, 236, 19);
}

/*Comments*/

.btn_show_hide {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: #aaaaaa;
    background-color: white;
    border: 2px solid #aaaaaa;
    width: 31%;
    height: 50px;
    border-radius: 6px;
    margin-top: 1em;
    transition-duration: 0.4s;
}

.btn_show_hide:hover {
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    box-shadow: 0 9px 13px 0 rgba(245, 245, 245, 24), 0 14px 47px 0 rgba(177, 196, 221, 19);
}

#text_my_article_add_comments {
    width: 50%;
    height: 50px;
    border: 1px solid #AAAAAA;
}

#btn_my_article_add_comments {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: #aaaaaa;
    background-color: white;
    border: 2px solid #aaaaaa;
    width: 21%;
    height: 50px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

#btn_my_article_add_comments:hover {
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    box-shadow: 0 9px 13px 0 rgba(245, 245, 245, 24), 0 14px 47px 0 rgba(177, 196, 221, 19);
}

#text_my_article_add_reply {
    width: 32%;
    height: 38px;
    margin-top: 1em;
    border: 1px solid #AAAAAA;
}

#btn_my_article_add_reply {
    font-size: 14px;
    line-height: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: #aaaaaa;
    background-color: white;
    border: 2px solid #aaaaaa;
    width: 135.12px;
    height: 38px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

#btn_my_article_add_reply:hover {
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    box-shadow: 0 9px 13px 0 rgba(245, 245, 245, 24), 0 14px 47px 0 rgba(177, 196, 221, 19);
}

#btn_delete_comments {
    font-size: 14px;
    line-height: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 135.12px;
    height: 38px;
    border-radius: 6px;
    background-color: #dc143c;
    color: #f8f8f8;
    border: 2px solid #dc143c;
    transition-duration: 0.4s;
    margin-left: 0.6em;
}

#btn_delete_comments:hover {
    background-color: #dc143c;
    color: #f8f8f8;
    border: 2px solid #dc143c;
    box-shadow: 0 9px 13px 0 rgba(174, 36, 40, 24), 0 14px 47px 0 rgba(218, 26, 64, 19);

}

.child_comments{
    margin-left:30px;
}

p {
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*width: 20%;*/
}


#btn_delete_child_comments {
    font-size: 14px;
    line-height: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 135.12px;
    height: 38px;
    border-radius: 6px;
    color: #dc143c;
    background-color: white;
    border: 2px solid #dc143c;
    transition-duration: 0.4s;
    display: inline;
}

#btn_delete_child_comments:hover {
    background-color: #dc143c;
    color: #f8f8f8;
    border: 2px solid #dc143c;
    box-shadow: 0 9px 13px 0 rgba(174, 36, 40, 24), 0 14px 47px 0 rgba(218, 26, 64, 19);

}
