body {
    background-image: url("../images/index_signin_backgroud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#login_frame {
    width: 400px;
    height: 264px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}



.index_login_textfield_username{
    width: 277px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

.index_login_textfield_password{
    width: 277px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

#btn_login{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 121px;
    height: 38px;
    text-align: center;
    border: 2px solid #778899;
    background-color: rgba(255,255,255,0);
    color: #778899;
    border-radius: 6px;
    margin-left: -1.6em;
    transition-duration: 0.4s;
}

#btn_login:hover{
    color: #f8f8f8;
    background-color: #778899;
}

.index_login_forget_password{
    font-size: 14px;
    line-height: 29px;
    color: #778899;
    text-decoration: none;
    position: relative;
    margin-left: 1em;
}




