body {
    background-image: url("../images/index_signin_backgroud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#signup_frame_signup {
    width: 400px;
    height: 816px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -400px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #778899;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.index_signup_textfield_firstname{
    width: 138px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

.index_signup_textfield_surname{
    width: 138px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

.index_signup_textfield_username{
    width:277px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

.index_signup_textfield_emailaddress{
    width:277px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

.index_signup_textfield_password{
    width:277px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

.index_signup_form_dob_day{
    width: 56px;
    height: 38px;
    color: #999999;
    border-radius: 6px;
    border: 0;
}

.index_signup_form_dob_month{
    width: 64px;
    height: 38px;
    color: #999999;
    border-radius: 6px;
    border: 0;
}

.index_signup_form_dob_year{
    width: 88px;
    height: 38px;
    color: #999999;
    border-radius: 6px;
    border: 0;
}

.index_signup_textfield_country{
    width:214px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

.index_signup_textfield_description{
    width:194px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

#signup_control{
    padding: 10px;
}

.gender_both{
    display: inline-block;
    margin-left: 16px;
    padding: 5px;
}

.index_signup_upload_avatar{
    width: 181px;
    height: 21px;
    background-color: rgb(33, 140, 236);
    color: #f8f8f8;
    border-radius: 6px;
    margin-left: -7em;
}

#btn_signup{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 200px;
    height: 38px;
    text-align: center;
    color: #778899;
    background-color:  rgba(255,255,255,0);
    border: 2px solid #778899;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    transition-duration: 0.4s;
}

#btn_signup:hover{
    color: #f8f8f8;
    background-color:  #778899;
}

.g-recaptcha {
    padding: 10px 48px 0;
}

.gender_avatar {
    width: 15%;
}