body {
    background-image: url("../images/index_signin_backgroud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#login_frame_resetpassword {
    width: 400px;
    height: 264px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.index_forget_password_textfield_username{
    width: 277px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

.index_forget_password_textfield_emailaddress{
    width: 277px;
    height: 38px;
    border-radius: 6px;
    border: 0;
}

#btn_confirm{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 138px;
    height: 38px;
    text-align: center;
    border: 2px solid #778899;
    background-color: rgba(255,255,255,0);
    color: #778899;
    border-radius: 6px;
    transition-duration: 0.4s;
}

#btn_confirm:hover{
    color: #f8f8f8;
    background-color: #778899;
}

.btn_homepage{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 138px;
    height: 38px;
    text-align: center;
    border: 2px solid rgb(33, 140, 236);
    background-color: rgba(255,255,255,0);
    color: rgb(33, 140, 236);
    border-radius: 6px;
    transition-duration: 0.4s;
}

.btn_homepage:hover{
     color: #f8f8f8;
     background-color: rgb(33, 140, 236);
 }