
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun"
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}


body {
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}
html{
    background-color: rgb(246,246,246);
}

*{
    margin:0;
    padding: 0;
}
#container{
    width: 100%;
    background-color: rgb(246,246,246);
    height:auto;
    margin: 0 auto;

}
#nav{
    position:fixed;
    top:0;
    width:100%;
    height: 100px;
    background: white;
    z-index: 4;
}

#index_logo{
    width:200px;
    float: left;
    margin-top: 15px;
    margin-left:100px;

}
#index_search_btn{
    display: inline;
}
#search_bar{
    position: relative;
    width: 53%;
    height: 38px;
    margin-left: 3em;
}

#index_login{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: #F5F5F5;
    background-color: #0066FF;
    border: 0;
    height: 38px;
    width: 8%;
    border-radius: 6px;
    margin-left: 43em;
}

#index_register{
    font-size: 14px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    color: #0066FF;
    background-color: white;
    border-color: #0066FF;
    height: 38px;
    width: 8%;
    border-radius: 6px;
    margin-left: 1em;

}
#container2{
    width: 95%;
    height:auto;
    margin: 0 auto;
    z-index: 2;
}

#main{
    width:100%;
    height:100%;
    margin-top:35px;
    background:RGB(246,246,246);
    padding-top: 62px;
    z-index: 3;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin-top: 2em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}


.icon_homepage{
    width: 50px;
}

.btn_index_login{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 103.29px;
    height: 38px;
    border-radius: 6px;
    color: #f8f8f8;
    background-color: rgb(33, 140, 236);
    border: 2px solid rgb(33, 140, 236);
    margin-top: 1em;
    transition-duration: 0.4s;
}

.btn_index_login:hover {
    box-shadow: 0 9px 13px 0 rgba(177, 196, 221, 24), 0 14px 47px 0 rgba(33, 140, 236, 19);
}


.btn_index_register{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 103.29px;
    height: 38px;
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    border-radius: 6px;
    margin-top: 1em;
    transition-duration: 0.4s;
}

.btn_index_register:hover {
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    box-shadow: 0 9px 13px 0 rgba(245, 245, 245, 24), 0 14px 47px 0 rgba(177, 196, 221, 19);
}

#btn_index_all_article{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 103.29px;
    height: 38px;
    color: #aaaaaa;
    background-color: white;
    border: 2px solid #aaaaaa;
    border-radius: 6px;
    margin-top: 1em;
    transition-duration: 0.4s;
}


#btn_index_all_article:hover {
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    box-shadow: 0 9px 13px 0 rgba(245, 245, 245, 24), 0 14px 47px 0 rgba(177, 196, 221, 19);
}




