body {
    margin: 0;
    padding: 0;
    font-weight: 500;

}
/*div.search {*/
    /*padding: 0px 0px;*/
/*}*/
input, button {
    border: none;
    outline: none;
}

input {

    width: 430px;
    height: 42px;
    padding-left: 15px;
}

button {
    height: 42px;
    width: 60px;
    cursor: pointer;
    position: absolute;
}





.login,.signUp {
    width: 100px;
    background-color: #d52349;
    color: #fff ;
    border-radius: 10px;
     text-align: center;

    border: 1px solid transparent;
    font-weight: 900;
    font-size:100%
}

.login{
    top: -70px;
    right: 180px;
}
.signUp {
    top: -70px;
    right:60px;
    opacity:0.7;

}

/*the blog*/

/**/
.major
{
    position: relative;
    text-align: center;
    border-top: solid 1px #ccc;
    top: 1em;
}

.major h2
{
    background: #fff;
    position: relative;
    top: -0.65em;
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
}
/*the blog*/
/*main wrapper*/



#main-wrapper
{
    position: relative;
    background: #f7f7f7 url('../images/bg02.png');
}

#main-wrapper:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../images/bg01.png');
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.1;
}

#main-wrapper .major
{
}

#main-wrapper .major h2
{
    background: #f7f7f7 url('../images/bg02.png');
}
/*another section*/

#main-wrapper
{
    padding: 2.75em 0 2.75em 0;
}

#main-wrapper:after
{
    height: 2.5em;
}


/*another section  1000px*/


/*desktop*/
#main-wrapper
{
    padding: 6em 0 6em 0;
}

#main-wrapper:after
{
    height: 5em;
}



/*desktop*/

/*main wrapper end */

/*head wrapper*/


#header-wrapper
{
    padding: 6em 0 6em 0;
}

#header-wrapper:before
{
    height: 10em;
}

#header-wrapper:after
{
    height: 20em;
    top: -2.5em;
}







#header-wrapper
{
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
}

#header-wrapper:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../images/bg02.png');
    z-index: 0;
    opacity: 0.5;
    box-shadow: inset 0px -60px 40px 0px #fff;
}

#header-wrapper:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../images/bg01.png');
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.25;
}

#header-wrapper > .container
{
    position: relative;
    z-index: 1;
}
/*dead wrapper end*/


/*blog*/
html, body, div,   label, footer, header, nav, output,  section{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}
body {
    line-height: 1;
    -webkit-text-size-adjust: none
}

/*.container {*/
    /*width: 1200px;*/
    /*margin: 0 auto*/
/*}*/


.actions
{
}

.actions .button
{
    margin-right: 0.75em;
}


/*buttom*/


.button
{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: #d52349;
    color: #fff !important;
    font-weight: 700;
    outline: 0;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

.button:hover
{
    background: #e53359;
}

.button:active
{
    background: #c51349;
}

.button-alt
{
    background: #252122;
}

.button-alt:hover
{
    background: #353132;
}

.button-alt:active
{
    background: #151112;
}

.button-icon
{
    line-height: 32px;
    padding-left: 1em !important;
}

.button-icon:before
{
    content: '';
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    background: url('../images/icons32.png');
    margin-right: 0.45em;
    opacity: 0.25;
}

.button-icon-1:before	{ background-position: 0px 0px;		}
.button-icon-2:before	{ background-position: -32px 0px;	}
.button-icon-3:before	{ background-position: -64px 0px;	}
.button-icon-4:before	{ background-position: -96px 0px;	}
.button-icon-5:before	{ background-position: -128px 0px;	}

.button
{
    font-size: 1.1em;
    padding: 0.65em 1.5em 0.65em 1.5em;
}

.button-big
{
    font-size: 1.5em;
    padding: 0.75em 1.5em 0.75em 1.5em;
}

#research123{
    display: inline;
}




.byline
{
    margin: 0.5em 0 0 0;
    padding-bottom: 0.5em;
}



/*ACTIONS*/


.actions
{
}

.actions .button
{
    margin-right: 0.75em;
}

/* List */

ul.links
{
}

ul.links li
{
    display: inline-block;
    border-left: solid 1px rgba(255,255,255,0.05);
    padding: 0 0 0 1em;
    margin: 0 0 0 1em;
}

ul.links li:first-child
{
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

ul.social
{
    margin: 0 0 3.25em 0;
}

ul.social li
{
    margin-left: 0.75em;
}


