.audios{
    margin: 10px;
    border: solid red 3px;
}

.videos{
    margin: 10px;
    border: solid aqua 3px;
    border-radius: 4px;
}

.images {
    position: relative;
    left: auto;
    top: auto;
    margin: auto;
    height: 110px;
    width: 110px;
    box-sizing: inherit;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.images:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#image_gallery {
    margin: auto;
    width: 1120px;
    min-width: 1120px;
    height: auto;
    padding: 0px 5px;
    box-sizing: border-box;
}

#audio_gallery {
    margin: auto;
    width: 1120px;
    min-width: 1120px;
    height: auto;
    padding: 0px 5px;
    box-sizing: border-box;
}

#video_gallery

#alertBox {
    display: none;
    font-weight: bolder;
    font-size: large;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.imageModal {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 500px;
    border-radius: 4px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.imageModal, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.previous {
    position: absolute;
    top: 300px;
    left: 100px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.next {
    position: absolute;
    top: 300px;
    right: 100px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.previous:hover,
.previous:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.next:hover,
.next:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

video {
    border-radius: 4px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .imageModal {
        width: 100%;
    }
}


.btn_gallery_back{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 218.62px;
    height: 50px;
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    border-radius: 6px;
    margin-top: 1em;
    transition-duration: 0.4s;
}

.btn_gallery_back:hover {
    background-color: rgb(33, 140, 236);
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(177, 196, 221, 24), 0 14px 47px 0 rgba(33, 140, 236, 19);
}

.btn_gallery_user_gallery{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-align: center;
    width: 218.62px;
    height: 50px;
    color: rgb(33, 140, 236);
    background-color: white;
    border: 2px solid rgb(33, 140, 236);
    border-radius: 6px;
    margin-top: 1em;
    transition-duration: 0.4s;
}

.btn_gallery_user_gallery:hover {
    background-color: rgb(33, 140, 236);
    color: #f8f8f8;
    box-shadow: 0 9px 13px 0 rgba(177, 196, 221, 24), 0 14px 47px 0 rgba(33, 140, 236, 19);
}

#index_logo{
    width:256px;
    margin-left: 50%;
    margin-top: 30px;
}